body {
    font-family: 'Merriweather', serif;
    margin: 0;
}

.name {
    color: orange;
}

.fast-section {
    display: flex;
    background-image: url("img/top-banner.png");
    background-repeat: no-repeat;

}

.fast-section-div1 {
    width: 50%;
    padding-left: 20px;
    padding-top: 50px;
}

.fast-section-div1 img {
    width: 90%;

}

.fast-section-div1 p {
    font-size: 25px;
    padding-top: 50px;

}

.fast-section-div1 a {
    text-decoration: none;
    background-color: gold;
    /* margin: 20px; */
    padding: 15px 50px;
    border-radius: 10px;
}

.section_2-div a {
    /* margin-top: 5px; */
    padding-top: 10px;
    text-decoration: none;
    background-color: gold;
    /* margin: 20px; */
    padding: 15px 50px;
    border-radius: 10px;
}

.section_2 {
    display: flex;
    width: 100%;
    margin-top: 50px;
    background-image: url("img/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}

.section_2-div {
    width: 50%;


}

.section_2 img {
    width: 90%;
}

.Experiences_area {
    /* display: flex; */
    background-image: url(img/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left center;

}

.flexible-contenar {
    display: flex;

}

.Experiences-item {
    border-radius: 10px;
    width: 40%;
    box-shadow: 10px 10px 40px gray;
    padding: 20px;
    margin-left: 5%;
    margin-right: 5%;
}

#grin {
    border-left: 10px solid green;

}

#reib {
    border-left: 10px solid red;
}

footer {
    text-align: center;
    font-size: 30px;
}